bin
.cache
include/Booster2.def
include/Booster2-parenthesize.str
include/Booster2-Permissive.def
include/Booster2.generated.pp.af
include/Booster2.packed.esv
include/Booster2.pp.af
include/Booster2.rtg
include/Booster2.str
include/Booster2.tbl
include/booster2.rtree
include/booster2.ctree
include/booster2.ctree.dep
include/booster2.jar
include/booster2-java.jar

**/*generated.pp

lib/**

test/regression/output/**

editor/java/trans
editor/Booster2-*.generated.esv
syntax/Booster2*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str

manual/*.aux
manual/chapters/*.aux
manual/*.log
manual/chapters/*.log
manual/*.bbl
manual/*.blg
manual/*.dvi
manual/*.lof
manual/*.out
manual/*.toc

manual/**/*~

test/*.1
test/*.2
test/*.3
test/*.4
