<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="boo2" description="Booster2" language="Booster2" derivedFrom="DynamicRoot" validator="Booster2.Booster2Validator" validatorClass="Booster2.Booster2Validator"></language>
       </extension>
       <extension id="Booster2.parser" name="Booster2 Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="Booster2.Booster2ParseController" language="Booster2">
          </parser>
       </extension>    
    </plugin>