<h1>Class Browser</h1>
<p>Choose a class, and either browse or search</p>
<table id="classListTable" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Class name</th>
			<th>No. of objects</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<!-- <th>&nbsp;</th> -->
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in classes">
			<td>{{item.className.unCamelCase()}}</td>
			<td>{{item.noObjects}}</td>
			<td><span ng-if="item.noObjects > 0"><a ng-href="#object/{{item.className}}/{{item.minId}}">Browse...</a></span></td>
			<td><span ng-if="item.noObjects > 0"><a ng-href="#class/{{item.className}}">Search...</a></span></td>
			<td><div ng-if="item.classMethods.length > 0" class="input-group">
					<select class="form-control  input-sm" ng-model="item.selectedMethod" ng-init="item.selectedMethod=item.classMethods[0].methodName.unCamelCase();">
						<option  ng-repeat="option in item.classMethods">{{option.methodName.unCamelCase()}}</option>
					</select>
					<span class="input-group-btn">
						&nbsp;
						<button class="btn btn-primary btn-sm" ng-click="open(item.className, item.selectedMethod);">Go</button>
					</span>
				</div>
<!-- 		<td>
				<div data-bind="if: classMethods().length > 0">
					<select style="width: 200px;" data-bind="foreach: classMethods, attr: {id: 'select' + className()}" >
						<option data-bind="text: methodName.unCamelCase(), attr: { value: $parent.className() + '/' + methodName }"/>
					</select>&nbsp;
					
				</div>
			</td> -->
		</tr>
	</tbody>
</table>