    <div ng-controller="methodDialogController">
		<div class="modal-header">
            <h3>{{classname.unCamelCase()}} : {{methodname.unCamelCase()}}</h3>
        </div>
        <div class="modal-body">
           		<form id="methodCallForm" name="methodCallForm" class="form-horizontal" role="form">
					<div class="form-group" ng-repeat="param in methodObject.parameters" ng-hide="param.paramName === 'this'">
						<label class="col-sm-4 control-label">{{param.paramName.unCamelCase()}} :</label>
						<div class="col-sm-8 ">
							<input  ng-model="param.paramValue" 
									ng-change="changeinputs(classname, methodname, oid);"
									class="form-control" 
									ng-if="param.paramType === 'Integer' || param.paramType === 'String'  || param.paramType === 'Decimal'" 
									type="text" 
									name="{{param.paramName}}" 
									placeholder="{{param.paramName.unCamelCase()}}" />
							<input  ng-model="param.paramValue" 
									ng-change="changeinputs(classname, methodname, oid);"
									class="form-control" 
									ng-if="param.paramType === 'Password'" 
									type="password" 
									name="{{param.paramName}}" 
									placeholder="{{param.paramName.unCamelCase()}}" />
							<input  ng-model="param.paramValue" 
									ng-change="changeinputs(classname, methodname, oid);"
									class="form-control" 
									ng-if="param.paramType === 'Boolean'" 
									type="checkbox" 
									name="{{param.paramName}}" 
									placeholder="{{param.paramName.unCamelCase()}}" />
							<p class="input-group" ng-if="param.paramType === 'Date'" ng-controller="DatepickerDemoCtrl">
              					<input 	type="text" 
             							ng-controller="DatepickerDemoCtrl"
             							class="form-control"
             							name="{{param.paramName}}_time" 
             							ng-change="changeinputs(classname, methodname, oid);"
             							datepicker-popup="{{format}}" 
             							ng-model="param.paramDateValue" 
             							is-open="opened" 
             							min="minDate" 
             							max="'2015-06-22'" 
             							datepicker-options="dateOptions" 
             							date-disabled="disabled(date, mode)" 
             							ng-required="true" 
             							close-text="Close" />
              					<span class="input-group-btn">
                					<button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              					</span>

            				</p>
							<div class="form-group" ng-if="param.paramType === 'DateTime'">
	              				<div class="col-sm-9">
		              				<p class="input-group">
		              					<input 	type="text" 
		              							ng-controller="DatepickerDemoCtrl"
		              							class="form-control"
		              							name="{{param.paramName}}_time" 
		              							ng-change="changeinputs(classname, methodname);"
		              							datepicker-popup="{{format}}" 
		              							ng-model="param.paramDateValue" 
		              							is-open="opened" 
		              							min="minDate" 
		              							max="'2015-06-22'" 
		              							datepicker-options="dateOptions" 
		              							date-disabled="disabled(date, mode)" 
		              							ng-required="true" 
		              							close-text="Close" />
			              					<span class="input-group-btn">
			                					<button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              					</span>
	              					</p>
	              				</div>
           						<div class="col-sm-3">
           							<timepicker 
           								name="{{param.paramName}}_time" 
           								ng-controller="TimepickerDemoCtrl" 
           								ng-model="param.paramTimeValue" 
           								ng-change="changeinputs(classname, methodname, oid);" 
           								hour-step="hstep" 
           								minute-step="mstep" 
           								show-meridian="ismeridian"></timepicker>
              					</div>
            				</div>
							<div class="form-group" ng-if="param.paramType === 'Time'">
       							<timepicker 
       								name="{{param.paramName}}_time" 
       								ng-controller="TimepickerDemoCtrl" 
       								ng-model="param.paramTimeValue" 
       								ng-change="changeinputs(classname, methodname, oid);" 
       								hour-step="hstep" 
       								minute-step="mstep" 
       								show-meridian="ismeridian"></timepicker>
            				</div>
							
							<!--  <input  
									
									class="form-control" 
									type="text" 
									 
									placeholder="{{param.paramName.unCamelCase()}}" />   -->
							<select class="form-control"
									ng-if="param.paramType === 'SetValue'"
									ng-model="param.paramValue"
									name="{{param.paramName}}" 
									ng-change="changeinputs(classname, methodname, oid);"
									>
								<option ng-repeat="value in  param.values"  ng-if="value != 'unassigned'" ng-value="value">{{value.unCamelCase()}}</option>
							</select>
							<select class="form-control"
									ng-if="param.paramType === 'ClassRef' && param.paramName !== 'this'"
									ng-model="param.paramValue"
									name="{{param.paramName}}" 
									ng-change="changeinputs(classname, methodname, oid);"
									>
								<option ng-repeat="value in  param.values"  ng-if="value != 'unassigned'" ng-value="value.id">{{value.desc.unCamelCase()}}</option>
							</select>
							<input class="form-control" ng-if="param.paramType === 'ClassRef' && param.paramName === 'this'" type="text" name="{{param.paramName}}" placeholder="{{param.paramName.unCamelCase()}}" value="{{oid}}"/>
								
						</div>
					</div>
				</form>	
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="!precondition" ng-click="ok()">OK</button>
            <button class="btn btn" ng-click="cancel()">Cancel</button>
        </div>
	</div>
