    <div class="well row" >
		<div class="col-md-2" style=" text-align: left;">
					<a class="btn btn-default" ng-disabled="object.first == 0 || object.first == object.objectID"
						ng-href="#object/{{object.className}}/{{object.first}}"><i class="fa fa-fast-backward"></i></a>
					&nbsp;
					<a class="btn btn-default" ng-disabled="object.prev == 0 || object.prev == object.objectID"
						ng-href="#object/{{object.className}}/{{object.prev}}"><i class="fa fa-play fa-flip-horizontal"></i></a>
		</div>
		<div class="col-md-8" style=" text-align: center;">
					<h5>Browse : <span>{{object.className.unCamelCase()}}</span></h5>
					<h4>{{object.description}}</h4>
		</div>
		<div class="col-md-2" style=" text-align: right;">
					<a class="btn btn-default" ng-disabled="object.next == 0 || object.next == object.objectID"
						ng-href="#object/{{object.className}}/{{object.next}}"><i class="fa fa-play"></i></a>
					&nbsp;
					<a class="btn btn-default" ng-disabled="object.last == 0 || object.last == object.objectID"
						ng-href="#object/{{object.className}}/{{object.last}}"><i class="fa fa-fast-forward"></i></a>
		</div>	
    </div>
		
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" ng-repeat="method in object.methods">
				<button type="button" class="btn btn-primary" ng-disabled="method.methodAvailability == 0"
						ng-click="open(object.className, method.methodName, object.objectID);">
					{{method.methodName.unCamelCase()}}			
				</button>
			</div>
		</div>
		<br/>
		<table class="table table-striped table-bordered">
		<tbody>
			<tr ng-repeat="attribute in object.attributes"  >
				<td class="attribute-name-td">
					<span class="attribute-name">{{attribute.attName.unCamelCase()}}</span>
				</td>
				<td>
					<span ng-if="attribute.attPrimType == 'String'" >
						<span style="white-space: pre-line; "ng-repeat="value in attribute.stringValues">{{value }}<br/></span>
						<span ng-if="attribute.attTypeMult=='Set' " class="noValues">
							(No. of values: {{attribute.stringValues.length}})
						</span>
					</span>
					<span ng-if="attribute.attPrimType == 'Password'" >
						<span style="white-space: pre-line; "ng-repeat="value in attribute.stringValues">********<br/></span>
						<span ng-if="attribute.attTypeMult=='Set' " class="noValues">
							(No. of values: {{attribute.stringValues.length}})
						</span>
					</span>
					<span ng-if="attribute.attPrimType == 'Integer'">
						<span ng-repeat="value in attribute.intValues">{{value}}<br/></span>
						<span ng-if="attribute.attTypeMult=='Set'" class="noValues">
							(No. of values: {{attribute.intValues.length}})
						</span>
					</span>
					<span ng-if="attribute.attPrimType == 'Boolean'">
						<span ng-repeat="value in attribute.intValues">
							<input type="checkbox" ng-if="value == 0" disabled="disabled">
							<input type="checkbox" checked="checked" ng-if="value == 1" disabled="disabled">
							<span ng-if="value == null">Not set</span>
							<br/></span>
						<span ng-if="attribute.attTypeMult=='Set'" class="noValues">
							(No. of values: {{attribute.intValues.length}})
						</span>
					</span>
					<span ng-if="attribute.attPrimType == 'Decimal'">
						<span ng-repeat="value in attribute.decimalValues">{{value}}<br/></span>
						<span ng-if="attribute.attTypeMult=='Set'" class="noValues">
							(No. of values: {{attribute.decimalValues.length}})
						</span>
					</span>
					<span ng-if="attribute.attPrimType == 'DateTime'">
						<span ng-repeat="value in attribute.dateTimeValues">{{value}}<br/></span>
						<span ng-if="attribute.attTypeMult=='Set'" class="noValues">
							(No. of values: {{attribute.dateTimeValues.length}})
						</span>
					</span>
					<span ng-if="attribute.attPrimType == 'Date'">
						<span ng-repeat="value in attribute.dateValues">{{value}}<br/></span>
						<span ng-if="attribute.attTypeMult=='Set'" class="noValues">
							(No. of values: {{attribute.dateValues.length}})
						</span>
					</span>
					<span ng-if="attribute.attPrimType == 'Time'">
						<span ng-repeat="value in attribute.timeValues">{{value}}<br/></span>
						<span ng-if="attribute.attTypeMult=='Set'" class="noValues">
							(No. of values: {{attribute.timeValues.length}})
						</span>
					</span>
					<span ng-if="attribute.attPrimType == 'SetValue'">
						<span ng-repeat="value in attribute.setValues">{{value}}<br/></span>
						<span ng-if="attTypeMult=='Set'" class="noValues">
							(No. of values: {{attribute.setValues.length}})
						</span>
					</span>
					<span ng-if="attribute.attPrimType == 'ClassRef'">
						<span ng-repeat="value in attribute.oidValues">
							<a ng-href="#object/{{attribute.attClassName}}/{{value}}">{{attribute.objDescs[$index]}}
							</a><br/>
					    </span>
					<span ng-if="attribute.attTypeMult=='Set'" class="noValues">
						(No. of values: {{attribute.oidValues.length}})
					</span>
				</span>
			</td>
		</tr>
	</tbody>
</table>
