<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>gwi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Presents a list of classes, with object numbers</description>
    <display-name>ClassList</display-name>
    <servlet-name>ClassList</servlet-name>
    <servlet-class>ox.softeng.booster.ClassList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassList</servlet-name>
    <url-pattern>/ClassList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObjectView</display-name>
    <servlet-name>ObjectView</servlet-name>
    <servlet-class>ox.softeng.booster.ObjectView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObjectView</servlet-name>
    <url-pattern>/ObjectView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MethodView</display-name>
    <servlet-name>MethodView</servlet-name>
    <servlet-class>ox.softeng.booster.MethodView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MethodView</servlet-name>
    <url-pattern>/MethodView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>callMethod</display-name>
    <servlet-name>callMethod</servlet-name>
    <servlet-class>ox.softeng.booster.callMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>callMethod</servlet-name>
    <url-pattern>/callMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>methodPrecondition</display-name>
    <servlet-name>methodPrecondition</servlet-name>
    <servlet-class>ox.softeng.booster.methodPrecondition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>methodPrecondition</servlet-name>
    <url-pattern>/methodPrecondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassCardinality</display-name>
    <servlet-name>ClassCardinality</servlet-name>
    <servlet-class>ox.softeng.booster.ClassCardinality</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassCardinality</servlet-name>
    <url-pattern>/ClassCardinality</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModelBrowser</display-name>
    <servlet-name>ModelBrowser</servlet-name>
    <servlet-class>ox.softeng.booster.ModelBrowser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModelBrowser</servlet-name>
    <url-pattern>/ModelBrowser</url-pattern>
  </servlet-mapping>
</web-app>