/* 	#ffffcc
	#d9f0a3
	#addd8e
	#78c679
	#31a354
	#006837
*/





dl
{
	float: left;
	width: 90%;
	margin: 1em 0;
	padding: 0 50px;
	border-bottom: 1px solid #999;
}
	
dl dt
{
	clear: left;
	float: left;
	width: 200px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
	font-weight: bold;
	color: #006837;
}
	
dl dd
{
	float: left;
	width: 300px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
	color: #343434;
}

.noValues
{
	font-size: 80%;
	color: gray;
}
