
.ng-table th {
    -moz-user-select: none;
}
.ng-table th.sortable {
    cursor: pointer;
}
.ng-table th.sortable div {
    padding-right: 18px;
    position: relative;
}
.ng-table th.sortable div:after, .ng-table th.sortable div:before {
    border-color: #000000 rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 4px 4px;
    content: "";
    margin-top: -4px;
    opacity: 0.3;
    position: absolute;
    right: 8px;
    top: 50%;
    visibility: visible;
}
.ng-table th.sortable div:before {
    border-color: #000000 rgba(0, 0, 0, 0) -moz-use-text-color;
    border-style: solid solid none;
    border-width: 4px 4px 0;
    margin-top: 2px;
}
.ng-table th.sortable div:hover:after, .ng-table th.sortable div:hover:before {
    opacity: 1;
    visibility: visible;
}
.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.ng-table th.sortable.sort-desc div:after, .ng-table th.sortable.sort-asc div:after {
    margin-top: -2px;
}
.ng-table th.sortable.sort-desc div:before, .ng-table th.sortable.sort-asc div:before {
    visibility: hidden;
}
.ng-table th.sortable.sort-asc div:after, .ng-table th.sortable.sort-asc div:hover:after {
    opacity: 0.6;
    visibility: visible;
}
.ng-table th.sortable.sort-desc div:after {
    border-color: #000000 rgba(0, 0, 0, 0) -moz-use-text-color;
    border-style: solid solid none;
    border-width: 4px 4px 0;
    box-shadow: none;
    opacity: 0.6;
    visibility: visible;
}
.ng-table th.filter .input-filter {
    -moz-box-sizing: border-box;
    display: block;
    margin: 0;
    min-height: 30px;
    width: 100%;
}
.ng-table + .pagination {
    margin-top: 0;
}
@media only screen and (max-width: 800px) {
.ng-table-responsive {
    border-bottom: 1px solid #999999;
}
.ng-table-responsive tr {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
}
.ng-table-responsive td:before {
    font-weight: 700;
    left: 0;
    padding: 8px;
    position: absolute;
    text-align: left;
    top: 0;
    white-space: nowrap;
    width: 50%;
}
.ng-table-responsive thead tr th {
    text-align: left;
}
.ng-table-responsive thead tr.ng-table-filters th {
    padding: 0;
}
.ng-table-responsive thead tr.ng-table-filters th form > div {
    padding: 8px;
}
.ng-table-responsive td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #EEEEEE;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    padding-left: 50%;
    position: relative;
    text-align: left;
    white-space: normal;
}
.ng-table-responsive td:before {
    content: attr(data-title-text);
}
.ng-table-responsive, .ng-table-responsive thead, .ng-table-responsive tbody, .ng-table-responsive th, .ng-table-responsive td, .ng-table-responsive tr {
    display: block;
}
}
