<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="boo25"
            description="Booster25"
            language="Booster25"
            derivedFrom="DynamicRoot"
            validator="Booster25.Booster25Validator"
            validatorClass="Booster25.Booster25Validator"
      ></language>
   </extension>
   <extension
         id="Booster25.parser"
         name="Booster25 Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="Booster25.Booster25ParseController"
            language="Booster25">
      </parser>
   </extension>    
</plugin>
