.cache
*.aterm
*/*.aterm
*/*/*.aterm
*.analysis
*/*.analysis
*/*/*.analysis
*.index
*/*.index
*/*/*.index
*.task
*/*.task
*/*/*.task
*.java
*/*.java
*/*/*.java
*.class
*/*.class
*/*/*.class
*/lib
*/*/lib
*/*/*/lib
*.pp.boo25
*/*.pp.boo25
*/*/*.pp.boo25
*.elaborated.boo2
*.generated.sql
*.simplify.boo2